@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    background-color: #f1f1f1;
    padding-bottom: 40px; /* Sesuaikan dengan tinggi footer */
}
.container {
    /* background-color: #d3d3d3; */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 80px; /* Tambahkan margin bawah lebih besar untuk memberi ruang bagi footer tetap */
}

h2, h3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.profile-box {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.username {
    /* background-color: #000; */
    color: #000;
    padding: 10px;
}

.bio {
    /* background-color: #000; */
    color: #000;
    padding: 10px;
}

.photo-box {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
